body {
            font-family:  sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #todo-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        #todo-input {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #add-todo-button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #add-todo-button:hover {
            background-color: #218838;
        }

        #todo-list {
            list-style-type: none;
            padding: 0;
        }

        #todo-list li {
            background-color: #f8f9fa;
            margin-bottom: 5px;
            padding: 10px;
            border: 1px solid ;
            border-radius: 5px;
        }